<div class="container">
  <img src="<%= @cocktail.photo %>" alt="" class="coc-img">
</div>
<div class="container d-flex coc">
  <div class="cocktail">
    <p class="coc-name"><%= @cocktail.name %></p>
    <p class="coc-des"><%= @cocktail.description %></p>
    <div class="review">
      <% @cocktail.reviews.each do |review|%>
        <ul>
          <li><% review.rating.times do %>
            <i class="fas fa-grin-tongue-squint"></i>
            <% end %></br>
          <%= review.content %></li>
        </ul>
      <% end %>
        <%= render 'reviews/new_review', review: @review %>
    </div>
  </div>
  <div class="ingredient coc">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %> <%= dose.description %> <%= link_to dose_path(dose),method: :delete do %> <i class="fas fa-trash del"></i> <% end %> </li>
        <% end %>
    </ul>
    <%= render 'doses/new_dose', dose: @dose %>
  </div>
</div>
